# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# local keys (never commit)
keys/

node_modules/
broadcast/
cache/
.DS_Store
package-lock.json
